body {
  background-color: #1a1a1a;
  color: #f96e00; /* laranja queimado */
  font-family: 'Segoe UI', sans-serif;
}

.container {
  background-color: #000;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 0 12px #f96e00;
}

button {
  background-color: #f96e00;
  border: none;
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}

select {
  background-color: #333;
  color: white;
  padding: 10px;
}
